<ion-content [fullscreen]="true">
<ion-card>
        <ion-card-header >
          <ion-card-title>Iniciar sesión</ion-card-title>
        </ion-card-header>

        <ion-card-content >
          <div>
            <p>ingresa nombre de usuario
              <input type="text" [(ngModel)]="username" placeholder="Usuario"/>
            </p>
            <p>ingresa Contraseña
              <input type="password" [(ngModel)]="password"  placeholder="Contraseña"/>
            </p>
            <div >
              <ion-button (click)="login()" class="oval-button">
                Entrar
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
</ion-content>
