<ion-header>
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  <!-- Título principal -->
  <ion-card-title class="title">Bienvenido</ion-card-title>

  <!-- Contenedor del formulario -->
  <div class="form-wrapper">
    <p class="label">
      Usuario
      <input
        type="text"
        [(ngModel)]="username"
        placeholder="Ingrese su usuario"
      />
    </p>

    <p class="label">
      Contraseña
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Ingrese su contraseña"
      />
    </p>

    <!-- <a class="forgot">
      ¿Olvidaste tu contraseña?
    </a> -->

    <ion-button
      expand="block"
      class="oval-button"
      (click)="login()"
    >
      Entrar
    </ion-button>
  </div>

</ion-content>
