<ion-header>
  <ion-toolbar color="#ffffff">
    <ion-title>Salon</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Inicio
      </ion-button>
      <ion-button routerLink="/alumnos">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Alumnos
      </ion-button>
      <ion-button routerLink="/docente">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        Docentes
      </ion-button>
      <ion-button routerLink="/autorizadas">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        Autorizadas
      </ion-button>
      <ion-button routerLink="/salon">
        <ion-icon slot="start" name="business-outline"></ion-icon>
        Salones
      </ion-button>
    <button class="setars" (click)="logout()"> Cerrar sesión</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col size="1.5"> </ion-col>
      <ion-col size="3">salon No</ion-col>
      <ion-col size="3">Docente encargado</ion-col>
      <ion-col size="3">Estado</ion-col>
      <ion-col size="1.5"></ion-col>
    </ion-row>
    <ion-row *ngFor="let s of salon">
      <ion-col size="1.5" ><ion-icon name="create-outline" color="primary" (click)="update()"></ion-icon></ion-col>   
      <ion-col size="3">{{s.Numero}}</ion-col>
      <ion-col size="3">{{s.docente.nombre | titlecase}}</ion-col>
      <ion-col size="3">{{ s.estado ? 'En uso' : 'Sin uso' }}</ion-col>
      
      <ion-col size="1">
          <ion-col size="1">
            <ion-icon *ngIf="s.estado === true" name="trash-outline" color="danger" (click)="toggleStatus(s)">
            </ion-icon>

            <ion-icon *ngIf="s.estado === false" name="power" color="success" (click)="toggleStatus(s)">
            </ion-icon>
          </ion-col>

        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
