<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Panel de administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="estu()" expand="block" fill="clear" shape="round">
    Gestión de estudiantes
  </ion-button>
  <ion-button (click)="doce()" expand="block" fill="clear" shape="round">
    Gestión de docentes
  </ion-button>
  <ion-button (click)="persoAut()" expand="block" fill="clear" shape="round">
    Gestión de personas autorizadas
  </ion-button>
  <ion-button (click)="salon()" expand="block" fill="clear" shape="round">
    Gestión de salón
  </ion-button>
</ion-content>
