<ion-content class="ion-padding custom-content">

  <div class="main-card">
    <div class="header">
      <div class="profile">
        <ion-icon name=""></ion-icon>
        <span>Administrador</span>
      </div>
      <div class="menu">
        <span></span>
        <span></span>
        <span></span>
        <button class="setars" (click)="logout()"> Cerrar sesión</button>
      </div>
    </div>

    <div class="content">
      <div class="text-zone">
        <h1>Administrator</h1>
        <p></p>
        <button ></button>
      </div>
      <div class="icon-zone">
        <ion-icon name="logo-tux"></ion-icon>
      </div>
    </div>
  </div>

  <div class="bottom-icons" >
    <div class="icon-item" (click)="estu()">
      <ion-icon name="school-outline"></ion-icon>
      <p><strong >Gestión Alumnos</strong><br><span></span></p>
    </div>
    <div class="icon-item" (click)="doce()">
      <ion-icon name="book-outline"></ion-icon>
      <p><strong >Gestión Docentes</strong><br><span></span></p>
    </div>
    <div class="icon-item" (click)="persoAut()">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p><strong >Gestión personas autorizadas</strong><br><span></span></p>
    </div>
    <div class="icon-item" (click)="salon()">
      <ion-icon name="business-outline"></ion-icon>
      <p><strong >Gestión salones</strong><br><span></span></p>
    </div>
  </div>

</ion-content>
