ion-content {
  --background: #F7FAFC;
}

.titulo {
  font-weight: bold;
  font-size: 1.4rem;
}

.tabla {
  padding: 20px;
}

.encabezado {
  font-weight: bold;
  background: #f1f3f5;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.fila {
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  padding: 12px 0;
}

ion-avatar.avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

ion-badge {
  padding: 6px 12px;
  font-size: 0.85rem;
  border-radius: 10px;
  text-transform: none;
}

.preview-img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-top: 10px;
}

.formulario-modal {
  padding: 20px;
}
